* {
  padding: 0;
  vertical-align: baseline;
  list-style: none;
  box-sizing: border-box;
}

.blue {
  color: blue;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.red {
  color: red;
}

.purple {
  color: purple;
}

.table-4,
.table-4 th,
.table-4 td {
  border: 1px solid black;
  border-collapse: collapse;
}

.body-15 {
  width: 100vw;
  height: 100vh;
}

.div-15 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}